nav.top-nav {
    margin-top: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: none;
    color:white;
}

nav.bottom-nav {
    margin-bottom: 18px;
    position: fixed;
    bottom: 13px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color:white;
}

.nav-items div {
    margin: 0 10px; /* Adjust this margin to control the space between buttons */
}

.nav-items div a {
    font-family: 'BB Manual Mono Pro TX';
    font-size: 19px;
    color: white;
    text-decoration: none;
    padding: 2px;
}

@media screen and (max-width: 200px) {
    .nav-items div a {
        font-size: 17px;
        margin: 0.9px;
    }
}

@media screen and (max-width: 300px) and (min-width: 201px) {
    .nav-items div a {
        font-size: 18px;
        margin: 2px;
    }
}

@media screen and (max-width: 450px) and (min-width: 301px) {
    .nav-items div a {
        font-size: 18.0px;
        margin: 2.9px;
    }
}

@media screen and (max-width: 550px) and (min-width: 451px) {
    .nav-items div a {
        font-size: 21px;
        margin: 8px;
    }
}

@media screen and (max-width: 660px) and (min-width: 551px) {
    .nav-items div a {
        font-size: 21px;
        margin: 19.99px;
    }
}

@media screen and (max-width: 780px) and (min-width: 661px) {
    .nav-items div a {
        font-size: 22px;
        margin: 27px;
    }
}

@media screen and (max-width: 900px) and (min-width: 781px) {
    .nav-items div a {
        font-size: 22px;
        margin: 28.8px;
    }
}

@media screen and (max-width: 1800px) and (min-width: 901px) {
    .nav-items div a {
        font-size: 22px;
        margin: 290.99px;
    }
}

@media screen and (min-width: 961px) {
    .nav-items div a {
        font-size: 23.0px;
        margin: 39px;
    }
}