.nav_bottom {position: fixed;width: 100%;left: 50%;transform:translateX(-50%);display: flex;justify-content: center;align-items: center;z-index:var(--z-index-max);bottom:0;background: none;}
.nav_bottom .menu {display: flex;gap: 45px;}
.nav_bottom .menu a, .nav_bottom .menu p {line-height:1.6;align-self:end;word-wrap:break-word;user-select:none;-webkit-user-select:none;text-shadow:none;font-family:var(--font-main);color:var(--text-color);text-decoration: none;font-weight:300;font-size:16px;text-transform:uppercase;bottom:0;padding:0;margin:0;}
.nav_bottom .menu p {padding:0 10px 16px;}
@media screen and (min-width: 30em){.nav_bottom .menu {-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}}@media screen and (min-width: 48em){.nav_bottom .menu p {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:14px;}}
@media screen and (max-width:400px) {
.nav_bottom .menu {gap:10px;}
.nav_bottom {width:60%;}
#copyright_sign_i {display:none;}
#copyright_sign_ii {display:none;}
#copyright_sign_iii {display:none;}
#sep {display:none;}}
@media screen and (min-width:401px) and (max-width:500px) {
.nav_bottom .menu {gap:10px;}
.nav_bottom {width:50%;}
#copyright_sign_i {display:none;}
#copyright_sign_ii {display:none;}
#copyright_sign_iii {display:none;}
#sep {display:none;}}
@media screen and (min-width:501px) and (max-width:600px) {
.nav_bottom .menu {gap:50px;}
#copyright_sign_i {display:none;}
#copyright_sign_ii {display:none;}
#copyright_sign_iii {display:none;}
#sep {display:none;}}
@media screen and (min-width:601px) and (max-width:700px) {
.nav_bottom .menu {gap:20px;}
#copyright_sign_i {display:none;}
#copyright_sign_ii {display:block;}
#copyright_sign_iii {display:none;}
#sep {display:none;}}
@media screen and (min-width:701px) and (max-width:800px) {
.nav_bottom .menu {gap:10px;}
#copyright_sign_i {display:none;}
#copyright_sign_ii {display:block;}
#copyright_sign_iii {display:none;}
#sep {display:block;}}
@media screen and (min-width:801px) and (max-width:990px) {
.nav_bottom .menu {gap:40px;}
.nav_bottom .menu p {font-size:14px;}
#copyright_sign_i {display:none;}
#copyright_sign_ii {display:none;}
#copyright_sign_iii {display:block;}
.nav_bottom .menu p {padding:0 0 16px;}
#sep {display:block;}}
@media screen and (min-width:1000px) {
.nav_bottom .menu {gap:60px;}
.nav_bottom .menu p {font-size:14px;}
#copyright_sign_i {display:none;}
#copyright_sign_ii {display:none;}
#copyright_sign_iii {display:block;}
.nav_bottom .menu p {padding:0 0 16px;}
#sep {display:block;}}
#copyright_sign_i, #copyright_sign_ii, #copyright_sign_iii {color:var(--text-color);}
