.nav-top {position: fixed;width: 100%;left: 0;display: flex;justify-content: center;align-items: center;z-index:var(--z-index-max);top:0;background: none;padding:0;margin:0;}
.nav-top .menu {display:flex;gap: 30px;padding-bottom:0;margin:0;}
.nav-top .menu a {text-decoration:none;color:var(--text-color);}
.nav-top .menu a p {font-family:var(--font-main);color:var(--text-color);user-select:none;-webkit-user-select:none;text-decoration: none;font-weight:300;font-size:30px;text-transform:uppercase;padding:0;padding-top:17px;margin:0;font-size:22px;}
@media screen and (min-width: 30em){.nav-top .menu {-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}}@media screen and (min-width: 48em){.nav-top .menu a p {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:20px;}}
@media screen and (max-width:400px) {
.nav-top .menu {gap:20px;}}
@media screen and (min-width:401px) and (max-width:500px) {
.nav-top .menu {gap:30px;}}
@media screen and (min-width:501px) and (max-width:600px) {
.nav-top .menu {gap:50px;}}
@media screen and (min-width:601px) and (max-width:700px) {
.nav-top .menu {gap:40px;}}
@media screen and (min-width:701px) and (max-width:800px) {
.nav-top .menu {gap:50px;}}
@media screen and (min-width:801px) and (max-width:990px) {
.nav-top .menu {gap:60px;}}
@media screen and (min-width:1000px) {
.nav-top .menu {gap:60px;}}